In [8]:
# pandas 

import pandas as pd

weather_data = [
    ('2025-05-01', 'New York', 18, 'Sunny'),
    ('2025-05-01', 'Los Angeles', 22, 'Cloudy'),
    ('2025-05-01', 'Chicago', 15, 'Rainy'),
    ('2025-05-01', 'Houston', 28, 'Sunny'),
    ('2025-05-01', 'Phoenix', 33, 'Hot'),
    ('2025-05-02', 'Seattle', 16, 'Cloudy'),
    ('2025-05-02', 'Miami', 29, 'Sunny'),
    ('2025-05-02', 'Denver', 14, 'Snow'),
    ('2025-05-02', 'Boston', 17, 'Windy'),
    ('2025-05-02', 'San Francisco', 19, 'Foggy'),
    ('2025-05-03', 'Las Vegas', 32, 'Hot'),
    ('2025-05-03', 'Atlanta', 25, 'Rainy'),
    ('2025-05-03', 'Dallas', 27, 'Sunny'),
    ('2025-05-03', 'Philadelphia', 20, 'Cloudy'),
    ('2025-05-03', 'Orlando', 30, 'Sunny'),
    ('2025-05-04', 'Detroit', 13, 'Rainy'),
    ('2025-05-04', 'San Diego', 21, 'Sunny'),
    ('2025-05-04', 'Minneapolis', 12, 'Snow'),
    ('2025-05-04', 'Portland', 15, 'Cloudy'),
    ('2025-05-04', 'Austin', 26, 'Humid')
]

df = pd.DataFrame(weather_data,columns=['Date','City','Temperature','Event'])
df

# DataFrame is datatype in pandas , basically its Table
# syntax : pd.DataFrame(readDataFrom,columns=[])
# columns : lets you name columns

          Date           City  Temperature   Event
0   2025-05-01       New York           18   Sunny
1   2025-05-01    Los Angeles           22  Cloudy
2   2025-05-01        Chicago           15   Rainy
3   2025-05-01        Houston           28   Sunny
4   2025-05-01        Phoenix           33     Hot
5   2025-05-02        Seattle           16  Cloudy
6   2025-05-02          Miami           29   Sunny
7   2025-05-02         Denver           14    Snow
8   2025-05-02         Boston           17   Windy
9   2025-05-02  San Francisco           19   Foggy
10  2025-05-03      Las Vegas           32     Hot
11  2025-05-03        Atlanta           25   Rainy
12  2025-05-03         Dallas           27   Sunny
13  2025-05-03   Philadelphia           20  Cloudy
14  2025-05-03        Orlando           30   Sunny
15  2025-05-04        Detroit           13   Rainy
16  2025-05-04      San Diego           21   Sunny
17  2025-05-04    Minneapolis           12    Snow
18  2025-05-04       Portland           15  Cloudy
19  2025-05-04         Austin           26   Humid

In [16]:
print(df.shape)     # rows x columns

print(df.head())    # first 5 rows
print(df.tail())    # bottom 5 rows

print(df.head(7))   # first specified rows
print(df.tail(10))  # bottom specified rows

print(df[5:8])      # slicing

print(df.columns) # lists all column names

(20, 4)
         Date         City  Temperature   Event
0  2025-05-01     New York           18   Sunny
1  2025-05-01  Los Angeles           22  Cloudy
2  2025-05-01      Chicago           15   Rainy
3  2025-05-01      Houston           28   Sunny
4  2025-05-01      Phoenix           33     Hot
          Date         City  Temperature   Event
15  2025-05-04      Detroit           13   Rainy
16  2025-05-04    San Diego           21   Sunny
17  2025-05-04  Minneapolis           12    Snow
18  2025-05-04     Portland           15  Cloudy
19  2025-05-04       Austin           26   Humid
         Date         City  Temperature   Event
0  2025-05-01     New York           18   Sunny
1  2025-05-01  Los Angeles           22  Cloudy
2  2025-05-01      Chicago           15   Rainy
3  2025-05-01      Houston           28   Sunny
4  2025-05-01      Phoenix           33     Hot
5  2025-05-02      Seattle           16  Cloudy
6  2025-05-02        Miami           29   Sunny
          Date          City  Temperature   Event
10  2025-05-03     Las Vegas           32     Hot
11  2025-05-03       Atlanta           25   Rainy
12  2025-05-03        Dallas           27   Sunny
13  2025-05-03  Philadelphia           20  Cloudy
14  2025-05-03       Orlando           30   Sunny
15  2025-05-04       Detroit           13   Rainy
16  2025-05-04     San Diego           21   Sunny
17  2025-05-04   Minneapolis           12    Snow
18  2025-05-04      Portland           15  Cloudy
19  2025-05-04        Austin           26   Humid
         Date     City  Temperature   Event
5  2025-05-02  Seattle           16  Cloudy
6  2025-05-02    Miami           29   Sunny
7  2025-05-02   Denver           14    Snow
Index(['Date', 'City', 'Temperature', 'Event'], dtype='object')

In [34]:
print(df.City)          # single column

print(df['City'])       # same , single column

print(df[['Date','Event']])  # multiple columns

0          New York
1       Los Angeles
2           Chicago
3           Houston
4           Phoenix
5           Seattle
6             Miami
7            Denver
8            Boston
9     San Francisco
10        Las Vegas
11          Atlanta
12           Dallas
13     Philadelphia
14          Orlando
15          Detroit
16        San Diego
17      Minneapolis
18         Portland
19           Austin
Name: City, dtype: object
0          New York
1       Los Angeles
2           Chicago
3           Houston
4           Phoenix
5           Seattle
6             Miami
7            Denver
8            Boston
9     San Francisco
10        Las Vegas
11          Atlanta
12           Dallas
13     Philadelphia
14          Orlando
15          Detroit
16        San Diego
17      Minneapolis
18         Portland
19           Austin
Name: City, dtype: object
          Date   Event
0   2025-05-01   Sunny
1   2025-05-01  Cloudy
2   2025-05-01   Rainy
3   2025-05-01   Sunny
4   2025-05-01     Hot
5   2025-05-02  Cloudy
6   2025-05-02   Sunny
7   2025-05-02    Snow
8   2025-05-02   Windy
9   2025-05-02   Foggy
10  2025-05-03     Hot
11  2025-05-03   Rainy
12  2025-05-03   Sunny
13  2025-05-03  Cloudy
14  2025-05-03   Sunny
15  2025-05-04   Rainy
16  2025-05-04   Sunny
17  2025-05-04    Snow
18  2025-05-04  Cloudy
19  2025-05-04   Humid

In [44]:
print(df['Temperature'].max())   # min(), mean(), std(), count() can use these too

print(df['Temperature'].describe())  # lists all min(),min(), mean(), std(), count()...

33
count    20.000000
mean     21.600000
std       6.691707
min      12.000000
25%      15.750000
50%      20.500000
75%      27.250000
max      33.000000
Name: Temperature, dtype: float64

In [56]:
maxT = df[df.Temperature==df.Temperature.max()]    # df[df.Temperature==33]
print(maxT)

minDate = df[df.Date==df.Date.min()]               # all rows with minimum Date
print(minDate)

minT  = df[df.Temperature==df.Temperature.min()].City   # single value
print('City with minimum Temperature :',minT)

         Date     City  Temperature Event
4  2025-05-01  Phoenix           33   Hot
         Date         City  Temperature   Event
0  2025-05-01     New York           18   Sunny
1  2025-05-01  Los Angeles           22  Cloudy
2  2025-05-01      Chicago           15   Rainy
3  2025-05-01      Houston           28   Sunny
4  2025-05-01      Phoenix           33     Hot
City with minimum Temperature : 17    Minneapolis
Name: City, dtype: object